button.square {
  background: #fff;
  border: 0.1rem solid #999;
  float: left;
  font-size: 3rem;
  font-weight: bold;
  line-height: 4.5rem;
  height: 4.5rem;
  margin-right: -0.1rem;
  margin-top: -0.1rem;
  padding: 0;
  text-align: center;
  width: 4.5rem;
}
