div.root {
  align-content: start;
  border-radius: 0.33rem;
  border: 0.2rem solid var(--color);
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  justify-content: center;
  padding-bottom: 1rem;

  & > h1 {
    font-size: 2rem;
    grid-row: 1;
  }

  & > button {
    border-radius: 0.33rem;
    border: 0.1rem solid var(--color);
    box-sizing: content-box;
    font-size: 1.5rem;
    grid-row: 3;
    height: max-content;
    margin: 0 auto;
    padding: 0 1rem;
    width: max-content;
    z-index: 1;

    &.ok {
      background-color: var(--color);
    }

    &.warning {
      background-color: red;
    }
  }
}
