div.root {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: max-content 1fr;
  row-gap: 0.5rem;
  height: 100%;
  width: 100%;

  & > h1 {
    font-size: 2rem;
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    text-decoration: underline;
  }

  & > ul {
    align-content: start;
    display: grid;
    grid-auto-rows: max-content;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 1.25rem max-content;
    height: 100%;
    justify-content: start;
    width: 100%;

    & > li {
      font-size: 1.5rem;
      grid-column: 2;
    }
  }
}
