nav.root {
  display: grid;
  grid-template-columns: 1fr var(--app-header-size);
  grid-template-rows: var(--app-header-size) max-content;
  grid-column: 1;
  grid-row: 1 / -1;
  row-gap: var(--page-nav-row-gap);
}
