@import "../TodoPageVariables.scss";

header.root {
  background: var(--dark-bg);
  border-bottom-left-radius: map-get($todo-header, border-radius);
  border-bottom-right-radius: map-get($todo-header, border-radius);
  border-bottom: map-get($todo-header, border) solid var(--dark-border);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  color: var(--dark-text);
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  z-index: 1;
  & > nav {
    border-bottom-left-radius: calc(
      map-get($todo-header, border-radius) -
        calc(map-get($todo-header, border) / 2)
    );
    border-bottom-right-radius: calc(
      map-get($todo-header, border-radius) -
        calc(map-get($todo-header, border) / 2)
    );
    display: grid;
    grid-column: 1;
    grid-row: 1;
    grid-template-columns: calc(100% - 6rem) 6rem;
    grid-template-rows: 100%;
  }
}
