section.root {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  align-content: center;
  background: var(--background);
  color: var(--color);
  display: grid;
  font-family: var(--family);
  font-size: var(--size);
  font-synthesis: none;
  font-weight: 400;
  grid-column: 1;
  grid-row: 1;
  grid-template-columns: 30rem;
  grid-template-rows: max-content;
  height: 100%;
  justify-content: center;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  width: 100%;
  z-index: 0;
}
