@import "../TodoPageVariables.scss";

section.root {
  background: var(--dark-bg);
  border-top-left-radius: map-get($todo-section, border-radius);
  border-top-right-radius: map-get($todo-section, border-radius);
  border: none;
  color: var(--dark-text);
  display: grid;
  grid-column: 1;
  padding: 0.5rem;
  grid-row: 2;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  z-index: 2;
}
