@import "../../TodoPageVariables.scss";

button.root {
  background: inherit;
  border-bottom-right-radius: calc(
    map-get($todo-header, border-radius) -
      calc(map-get($todo-header, border) / 2)
  );
  border-bottom: calc(map-get($todo-header, border) / 4) solid
    rgb(227, 227, 227);
  border-left: 0;
  border-right: calc(map-get($todo-header, border) / 4) solid rgb(227, 227, 227);
  border-top: calc(map-get($todo-header, border) / 4) solid rgb(227, 227, 227);
  color: inherit;
  cursor: pointer;
  display: grid;
  font-size: calc(map-get($todo-header, font-size) - 0.75rem);
  grid-column: 2;
  grid-row: 1;
  grid-template-columns: 4rem;
  grid-template-rows: 4rem;
  height: 100%;
  margin: 0;
  outline: none;
  padding: 0;
  place-content: center;
  text-align: center;
  width: 100%;
  & > svg {
    height: 100%;
    width: 100%;
  }
}
